<div class="row justify-content-center">
  <h1 class="font-weight-normal mt-5 mb-5">Users</h1>
</div>
    
<div class="container">
  <div class="row">
    <div class="col-sm">
      <% @users.each do |user| %>
        <div class="writer-profile-card"  style="max-width: 540px">
          <div class="wp-left">
                <div class="wp-img">
                  <% if user.image.attached? %>
                  <p><%= image_tag user.image.variant(resize:'192x192').processed %></p>
                  <% else %>
                  <p><%= image_pack_tag  'media/images/user.png',width: "200px" %></p>
                  <% end %>
                </div>
                <br>
                <br>
                <br>
                <br>
                <p class="wp-name">
                  <%= link_to user_path(user) do %>
                  <p class="caption h4"><%= user.nickname %></p>
                  <% end %>
                </p>
          </div>
            
                  <div class="wp-right">
                        <div class="wp-content">
                          <p>投稿数<br><%= "#{user.posts.count} 回" %></p>
                          <br>
                          <p>プロフィール<br><%= user.profile %></p>
                      </div>
                  </div>
                </div>
                <% end %>
            <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
