<div class="container">
  <div class="row">
    <div class="col-sm">
    <p>【スポット名称】<%= post.body %></p>
    <p>【住所】<%= post.address %></p>
    <p>【私のイチオシポイント】<br><%= post.text %></p>
    <p><%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' if post.image.attached?%></p>
    <!-- 作成、更新日時を表示する -->
    <p>【投稿日時】<%= post.created_at.to_s(:datetime_jp) %></p>
    <p>【更新日時】<%= post.updated_at.to_s(:datetime_jp) %></p>
    <span class="name">
      <a href="/users/<%= post.user.id %>">
        <span >【投稿者名】</span><%= post.user.nickname %>
      </a>
    </span>
    <%= link_to '投稿詳細', post_path(post.id), method: :get, class: "btn btn-info mr-3" %>
    <% if user_signed_in? && current_user.id == post.user_id %>
    <%= link_to '編集', edit_post_path(post.id), method: :get, class: "btn btn-info mr-3" %>
    <%= link_to '削除', "/posts/#{post.id}", method: :delete, class: "btn btn-info mr-3" %>
    <% end %>
    </div>
  </div>
</div>
