<%= render partial: "search"%>


<div class="container">
  <div class="row justify-content-center">
    <h1 class="font-weight-normal mt-5 mb-5">おすすめスポット投稿一覧</h1>
  </div>
      <div class="contents row">
          <% @posts.each do |post| %>
            <table class="table-light table-bordered text-dark">
              <tbody>
                <tr>
                  <td>
                  <div class="row no-gutters">
                    <%= render partial: "post", locals: { post: post } %>
                  </div>
                  </td>
                <tr>
              </tbody>
            </table>
            <% end %>
      </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= paginate @posts %>

<br>


<div class="container">
  <div class="row">
    <div class="col-sm">
        <div id='map'></div>
      </div>
  </div>
</div>


        <style>
        #map {
          height: 600px;
          width: 100%;
        }
        </style>

        <!-- js部分 -->
        <script>
            function initMap() {

              //初期表示位置
              let latlng = new google.maps.LatLng(38.60, 139.5);
              //デザイン
              let styles = [
                  {
                    stylers: [
                    { "saturation": 0 },
                    { "lightness": 0 }
                    ]
                  }
                  ];

              let map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 5.5,
                  styles: styles,
                  center: latlng
              });
              let transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              //複数マーカー ここから
              <% @posts.each do |post|%>
                ( function() { 
                  let markerLatLng = new google.maps.LatLng({lat: <%= post.lat %>, lng: <%= post.lng %>}); // 緯度経度のデータ作成
                  let marker = new google.maps.Marker({ 
                    position: markerLatLng, 
                    map: map 
                  });
            　　　//マーカーをクリックしたとき、詳細情報を表示
                  let infowindow = new google.maps.InfoWindow({
                    position: markerLatLng,
                    content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.body %></a>"
                  }); //ここで詳細ページへのリンクを表示させる
                  marker.addListener('click', function() {
                    infowindow.open(map, marker);
                  });

              })();
              <% end %>
              //複数マーカー ここまで  
          }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6PkFxFqCykIHqhOoelguWaqq4rgk2UOU&callback=initMap" async defer></script>

      </div>
    </div>
  </div>



