<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <div class="container">
      <div class="row">
        <div class="col-sm">
        <br>
          <% if flash[:success] %>
          <div class="flash">
          <%= flash[:success] %>
          </div>
          <% end %>
    </div>
  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        <br>
        <% if flash[:danger] %>
        <div class="flash">
        <%= flash[:danger] %>
        </div>
        <% end %>
    </div>
  </div>
</div>

    <%= yield %>
    <%= render 'layouts/footer' %>
    
  </body>
</html>